#upload{
    display: none;
}
#preview{
    width: 500px;
}
#uploader{
    width: 30vh;
    background: gray;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.btn{
    width: 50px;
}
#gallery{
    width: 100%;
    columns: 3 100px;
    margin: 20px auto;
}
.gallery-img{
    width: 100%;
    margin: 5px;
}